<!-- Encabezado y logo -->
<header class="encabezado">
    <div class="logo">
    <img src="./logo_nuevo.png" alt="Imagen logo">
    <h1>Polaflix</h1>
    </div>
    <div class="usuario">
    <p>Hola, {{nombreSujeto}}</p>
    <img src="./usuario_nuevo.jpeg" alt="Usuario">
    </div>
</header>

<hr class="separador-horizontal">

<!-- Navegación -->
<nav class="barra-navegacion">
    <a href="./index">Inicio</a>
    <span class="separador-vertical"></span>
    <a href=#>Agregar Serie</a>
    <span class="separador-vertical"></span>
    <a href="./charges">Cargos</a>
</nav>