<!-- Listas de series -->
<section class="list-series">
    

    <app-box titulo="Pendientes">
        <p *ngFor="let serie of usuario?.['series pendientes']">
            {{ serie?.titulo }}
        </p>
    </app-box>
    
    <app-box titulo="Empezadas">´
        <p *ngFor="let serie of usuario?.['series empezadas']">
            {{ serie?.titulo }}
        </p>
    </app-box>

    <app-box titulo="Terminadas">
        <p *ngFor="let serie of usuario?.['series terminadas']">
            {{ serie?.titulo }}
        </p>
    </app-box>
</section>

<!-- Banner de anuncios -->
<div class="banner-anuncios border border-secondary rounded mt-4 bg-white text-center p-4">
    <p class="m-0">Anuncios</p>
</div>

