<!-- Selector de mes -->
<div class="selector-mes">
<div class="control-mes">
    <div class="flecha-izq"></div>
    <p>Diciembre 2016</p>
    <div class="flecha-der"></div>
</div>
</div>

<!-- Tabla de facturas -->
<section class="tabla-facturas">
<table class="table table-striped table-hover border border-dark">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Serie</th>
        <th>Episodio</th>
        <th>Importe</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>2/12/2016</td><td>Modern Family</td><td>5x07</td><td class="importe">0.75€</td></tr>
    <tr><td>2/12/2016</td><td>Modern Family</td><td>5x08</td><td class="importe">0.75€</td></tr>
    <tr><td>3/12/2016</td><td>IT Crowd</td><td>2x04</td><td class="importe">0.50€</td></tr>
    <tr><td>3/12/2016</td><td>The Wire</td><td>5x02</td><td class="importe">0.50€</td></tr>
    <tr><td>4/12/2016</td><td>The Wire</td><td>5x03</td><td class="importe">0.50€</td></tr>
    <tr><td>5/12/2016</td><td>The Wire</td><td>5x04</td><td class="importe">0.50€</td></tr>
    <tr><td>6/12/2016</td><td>Modern Family</td><td>5x09</td><td class="importe">0.75€</td></tr>
    </tbody>
</table>

<div class="resumen-factura">
    <div class="etiqueta-total">TOTAL</div>
    <p>20.00€</p>
</div>
</section>
