<!-- Selector de mes -->
<div class="selector-mes">
<div class="control-mes">
    <div class="flecha-izq" (click)="retrocede()"></div>
    <p>{{mesActual}} {{anioActual}}</p>
    <div class="flecha-der" (click)="avanza()"></div>
</div>
</div>

<!-- Tabla de facturas -->
<section class="tabla-facturas">
<table class="table table-striped table-hover border border-dark">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Serie</th>
        <th>Episodio</th>
        <th>Importe</th>
    </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let itemFactura of facturaActual?.itemsFactura">
            <tr><td>{{itemFactura?.fechaVisualizacion}}</td><td>{{itemFactura?.nombreSerie}}</td><td>{{itemFactura?.temporada}}x{{itemFactura?.numCapitulo}}</td><td class="importe">{{itemFactura?.precio}}€</td></tr>
        </ng-container>
    </tbody>
</table>

<div class="resumen-factura">
    <div class="etiqueta-total">TOTAL</div>
    <p>{{precioTotal}}€</p>
</div>
</section>
